# Created by https://www.toptal.com/developers/gitignore/api/dotenv,venv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv,venv

### dotenv ###
.env

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# End of https://www.toptal.com/developers/gitignore/api/dotenv,venv
*.env

videos
motivational/final0.mp4
motivational/final1.mp4
motivational/final2.mp4
motivational/final3.mp4
motivational/final4.mp4
motivational/final5.mp4
motivational/final6.mp4
motivational/final7.mp4
motivational/final8.mp4
motivational/final9.mp4
